*{
    font-family: 'Nunito Sans', sans-serif;
}
body, html{
    scroll-behavior: smooth;
}
.logo{
    width: 170px;
}
header{
    background-color: rgb(211, 208, 208);
    position: fixed;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    
}
.h-contenedor{
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 80px;
}
.h-contenedor a{
    text-decoration: none;
    color: rgb(43, 42, 42);
    display: inline-block;
    font-weight: bold;
}
.cont-derecha a{ 
    padding: 20px;
    transition: all .3s ease;
}
.cont-izquierda a{
    padding: 12px;
}
.cont-izquierda a:hover, .cont-derecha a:hover{
    background-color: rgba(187, 187, 187, 0.726);
}
.carrusel{
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(.3);
}
.texto{
    position: absolute;
    width: 100vw;
    top: 33%;
    right: 0;
    color: white;
    padding: 0 80px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    animation: inicio 1s 1;
    text-shadow: 0 0 2px black;
}
@keyframes inicio{
    0% , 50%{opacity: 0;}
    100%{opacity: 1;}
}
.seccion1{
    display: flex;
    padding: 50px 80px;
}
.izq, .der{
    width: 50%;
}
.img-1{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 0 rgb(0, 0, 0);
}
.izq{
    text-align: center;
    display: flex;
    align-items: center;
}
.izq h2{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
}
.izq p{
    font-weight: bold;
    font-size: 18;
}