.h-concepcion{
    background: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.507)) ,url(img/fondo-concepcion.jpg);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-concepcion h3{
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    animation: concepcion 3s 1;
}
@keyframes concepcion{
    0% , 50%{opacity: 0;}
    50%{opacity: 1;}
    55%{text-shadow: 0px 0px 15px white;}
    100%{text-shadow: 0px 0px 0px white;}
}
.cajas{
    margin: 50px 80px;
}
.card-box{
    width: 450px;
    text-align: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}
.card-box img{
    width: 450px;
}
.card-box p{
    font-family: 'Montserrat', sans-serif;
}
.img-noticia{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 25px;
}
.modal-content{
    background-image: url(img/bg-virina.jpg);
    background-size: cover;
}